.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: scroll;
    gap: 1em;
    width: calc(100% - 2em);
    padding: 1em;
    border-radius: 1em;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  }

.item-name {
font-size: 1.5em;
font-weight: bold;
margin: 0;
}
.item-name-n-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2em;
    
}
.item-info {
text-align: left;
width: 100%;
overflow-x: hidden;
}

.item-price {
color: var(--main-color);
font-size: 1.5em;
font-weight: bold;
margin: 0;
min-width: fit-content;
}

.prices-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.quantity-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-container {
    border-radius: 0px;
    height: 2.8em;
    width: 3.8em;
    padding: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.quantity-controls button {
    color: var(--font-highlight);
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border-radius: 0.5em;
    background: --var(--background-main);
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #ffffff;
}

.add-to-cart-button {
    border-radius: 0.5em;
background: #e0e0e0;
box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

.quantity {
    font-size: 1.5em;
    
}