.item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }

.item h3 {
font-size: 1.5em;
font-weight: bold;
}

.item-info {
text-align: left;
width: 50%;
}

.item-price {
font-weight: bold;
width: 6em;
}

.quantity-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-container {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    width: 2.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls button {
    color: red;
    background-color: transparent;
    padding: 10px;
}
