.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  padding: 0.5em;
  z-index: 100; /* Ensure navbar is above other content */
  /*
  border-top: 0.12em solid var(--main-color);
  border-bottom: 0.12em solid var(--main-color);
  */
  overflow-x: scroll;
  width: 100%;

}

.nav-link {

  color: var(--font-color);
  font-size: smaller;
  position: relative;
  text-decoration: none;
  min-width: fit-content;
  padding: 5px;
  transition: font-weight 0.3s;
}

.nav-link:hover {
  color: var(--font-highlight);

}


.nav-link.active {
  color: var(--font-highlight);
  font-weight: bold;

}

.nav-link.active .navbar-icon {
  color: var(--font-highlight);
  font-weight: bold;
  background: #F87BCD;
  box-shadow: 0px 1.48248px 2.96496px 0px rgba(0, 0, 0, 0.15) inset;

}

.nav-link.active .img {
  filter: brightness(0) invert(1);
}


.nav-section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  
}

.navbar-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  width: 20vw;
  height: 10vw;
  background-color: var(--background-main);
  transition: background-color 0.5s;
  box-shadow:  5px 5px 10px #bebebe,
               -5px -5px 10px #ffffff;

  .img {
    filter: none;
    transition: filter 1s;
  }

}



.top-sticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 1em;

}

.restaurant-name {
  font-weight: bold;
  font-style: italic;
  color: var(--font-highlight);
  font-size: 2em;
  line-height: 0px;

  

}

.restaurant-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 100px;
  background: #F87BCD;
  box-shadow: 0px 1.48248px 2.96496px 0px rgba(0, 0, 0, 0.15) inset;

}

.restaurant-image{
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 100px;
  box-shadow: 5px 5px 10px #d66bb1
               -5px -5px 10px #ffffff;
 }
.restaurant-slogan {
  font-size: 1.2em;


}

.restaurant-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}

.app {
  width: 100vw;
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.scroll-container {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.restaurant-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  border-radius: 0.5em;
  width: 90%;
  padding: 0.5em;
  background: var(--background-main);
  box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.15), -6px -6px 15px 0px rgba(255, 255, 255, 0.78);

}


.bottom-sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: sticky;
  z-index: 100;
}


.cart-button {
  width: 50%;
  
}


.cart {
  /* Define the initial styles for the closed panel */
  position: fixed;
  bottom: calc(-50vh + 3em);
  height: 50vh; /* Set the desired height of the panel */
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  background: var(--background-main);
  box-shadow: 1px 1px 2px 0px rgba(174, 174, 192, 0.20) inset, -1px -1px 1px 0px rgba(255, 255, 255, 0.70) inset;

  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  padding: 1em;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.cart.open{
  /* Define the styles for the open panel */
  transform: translateY(-100vw);
}
.cart-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: calc(100vw - 4em);

}

.disable-scroll {
  overflow: hidden;
}




@media (orientation: landscape) {
  .app {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
  }
  .restaurant-info {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .top-sticky {

    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: min-content;
  }

  .navbar {
    flex-direction: column;
    width: auto; /* Allow the navbar to expand horizontally */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .navbar-icon {
    width: 10vw;
    height: 10vw;
  }

  .nav-section-wrapper {
    align-items: center;
    justify-content: center;
  }
  
  .bottom-sticky {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10%;
    height: 100%;
  }
}
