.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5em;
  z-index: 100; /* Ensure navbar is above other content */
  border-top: 0.12em solid var(--main-color);
  border-bottom: 0.12em solid var(--main-color);
  overflow-x: scroll;
  width: 100%;
}

.nav-link {
  color: var(--main-color);
  font-size: 1.25em;
  position: relative;
  text-decoration: none;
  min-width: fit-content;
  padding: 5px;
  transition: font-weight 0.3s;
}

.nav-link:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 5px;
}


.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;

}

.top-sticky {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-color: var(--ceramic);
  width: 100%;
}

.restaurant-name {
  font-weight: bold;
  font-style: italic;
  color: var(--main-color);
  font-size: 2em;
  line-height: 0px;
}

.restaurant-image {
  width: 100px;
  object-fit: cover;
  object-position: center;
}
.restaurant-slogan {
  font-size: 1.2em;
  line-height: 0px;

}

.restaurant-title {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.app {
  margin: 0.5em;
  width: calc(100vw - 1em);
  height: calc(var(--vh, 1vh) * 100 - 1em);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--ceramic);
  overflow: hidden;

  
}

.scroll-container {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.restaurant-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
}


.cart-button {
  position:fixed;
  font-size: 1.4em;
  border-radius: 3em;
  height: 3em;
  width: 3em;
  padding: 0px;
  bottom: 1em;
  left: 1em;
  z-index: 10;
}
