.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  padding: 0.5em;
  z-index: 100; /* Ensure navbar is above other content */
  /*
  border-top: 0.12em solid var(--main-color);
  border-bottom: 0.12em solid var(--main-color);
  */
  overflow-x: scroll;
  width: 100%;

}

.nav-link {

  color: var(--font-color);
  font-size: smaller;
  position: relative;
  text-decoration: none;
  min-width: fit-content;
  padding: 5px;
  transition: font-weight 0.3s;
}

.nav-link:hover {
  color: var(--font-highlight);

}


.nav-link.active {
  color: var(--font-highlight);
  font-weight: bold;

}

.nav-link.active .navbar-icon {
  color: var(--font-highlight);
  font-weight: bold;
  background-color: var(--main-color);
}

.nav-link.active .img {
  filter: brightness(0) invert(1);
}


.nav-section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  
}

.navbar-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  width: 20vw;
  height: 10vw;
  background-color: var(--background-main);
  transition: background-color 0.5s;
  box-shadow:  5px 5px 10px #bebebe,
               -5px -5px 10px #ffffff;

  .img {
    filter: none;
    transition: filter 1s;
  }

}



.top-sticky {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 1em;
  width: 100%;

}

.restaurant-name {
  font-weight: bold;
  font-style: italic;
  color: var(--font-highlight);
  font-size: 2em;
  line-height: 0px;
}

.restaurant-image {
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5em;
  box-shadow:  5px 5px 10px #bebebe,
               -5px -5px 10px #ffffff;
}
.restaurant-slogan {
  font-size: 1.2em;
  line-height: 0px;

}

.restaurant-title {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.app {
  width: 100vw;
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;

  
}

.scroll-container {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.restaurant-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
}


.bottom-sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  background-color: var(--ceramic);
  position: sticky;
  z-index: 100;
}

.cart-container {
  width: 50%;
  background-color: var(--ceramic);
  position: sticky;
  z-index: 100;
}

.cart-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--main-color);
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  transition: background-color 0.5s;
  box-shadow:  5px 5px 10px #bebebe,
               -5px -5px 10px #ffffff;
}


@media (orientation: landscape) {
  .app {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
  }
  .restaurant-info {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .top-sticky {

    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: min-content;
  }

  .navbar {
    flex-direction: column;
    width: auto; /* Allow the navbar to expand horizontally */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .navbar-icon {
    width: 10vw;
    height: 10vw;
  }

  .nav-section-wrapper {
    align-items: center;
    justify-content: center;
  }
  
  .bottom-sticky {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10%;
    height: 100%;
  }
}
