.cat-icon {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding-left: 2em;
    width: calc(100% - 2em);
    
  }

  
.section-title {
  font-size: 1.25em;
  color: var(--font-highlight);
  font-weight: bold;

}
.cat-items {
  /* border-left: 0.12em solid var(--main-color); */
  width: calc(100% - 3em);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  padding-left: 1.5em;
  
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}

.section-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
