.cat-icon {
    width: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.cat-items {
  border-left: 2px solid var(--main-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
